hr.solid {
    border-top: 3px solid #bbb;
}

body {
    background-color: lightblue;
}

#footer{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#header{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
}

p.bold {
    font-weight: bold;
}

.results-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
}

.results-padding-block{
    width: 25%;
}

.results{
    width: 50%;
    display: inline-block;
    border: 3px solid black;
}

textarea.standard {
    border: 2px solid black;
    height: 100%;

}

textarea.mildBac {
    background-color: #90d28c;
    border: 2px solid black;
    height: 100%;

}

textarea.moderateBac {
    background-color: #D2d69a;
    border: 2px solid black;
    height: 100%;
 
}

textarea.severeBac {
    background-color: #F5c480;
    border: 2px solid black;
    height: 100%
}

textarea.dangerousBac {
    background-color: #Ef9e93;
    border: 2px solid black;
    height: 100%
}