hr.solid {
    border-top: 3px solid #bbb;
}

p.bold {
    font-weight: bold;
}

.results{
    border: 3px;
}

textarea.standard {
    border: 2px;
}

textarea.mildBac {
    color: #90d28c;
}

textarea.moderateBac {
    color: #D2d69a;
}

textarea.severeBac {
    color: #F5c480;
}

textarea.dangerousBac {
    color: #Ef9e93;
}