hr.solid {
    border-top: 3px solid #bbb;
}

p.bold {
    font-weight: bold;
}

.results{
    border: 3px solid black;
}

.results-section{
    display: inline-flex;
    height: 10vh;
}

textarea.standard {
    border: 2px solid black;
    height: 90%;
    width: 100%;
}

textarea.mildBac {
    background-color: #90d28c;
    border: 2px solid black;
    height: 90%;
    width: 100%;
}

textarea.moderateBac {
    background-color: #D2d69a;
    border: 2px solid black;
    height: 90%;
    width: 100%;
}

textarea.severeBac {
    background-color: #F5c480;
    border: 2px solid black;
    height: 90%;
    width: 100%;
}

textarea.dangerousBac {
    background-color: #Ef9e93;
    border: 2px solid black;
    height: 90%;
    width: 100%;
}